@import url(http://fonts.googleapis.com/css?family=Lato:200,300,700);

body {
  font: 200 normal 16px 'Lato', sans-serif;
  background-color: #FFF;
}

.column, .column-short {
  @media ( max-width: 380px ) {
    width: 100% !important;
  }
}
